hostname {{ hostname }}
log syslog informational
ip forwarding
ipv6 forwarding

interface lo
 ip address {{ ipv4_loopback }}/32
 ipv6 address {{ ipv6_loopback }}/128
{% if protocol == "isis" %}
 ip router isis NODAL
 isis passive
{% endif %}
exit

{% for iface_name, info in interface_info.items() %}
interface {{ iface_name }}
 ip address {{ ipv4_loopback }}/32
{% if protocol == "isis" and not info.static_only | default(false) %}
 ip router isis NODAL
{% endif %}
{% if protocol != "static" %}
 no ipv6 nd suppress-ra
{% endif %}
exit
{% endfor %}

{% for iface in gnd_interfaces %}
interface {{ iface }}
 ip address {{ ipv4_loopback }}/32
{% if protocol == "isis" %}
 ip router isis NODAL
{% endif %}
{% if protocol != "static" %}
 no ipv6 nd suppress-ra
{% endif %}
exit
{% endfor %}

{% set terr0_render_addresses = terr0_addresses | default(terrestrial_prefixes | default([])) %}
{% if node_type == "ground_station" and terr0_render_addresses %}
interface terr0
{% for tp in terr0_render_addresses %}
{% if ':' in tp.host_address %}
 ipv6 address {{ tp.host_address }}
{% else %}
 ip address {{ tp.host_address }}
{% endif %}
{% endfor %}
exit
{% endif %}
