hostname {{ hostname }}
log file /var/log/frr/ospfd.log informational

router ospf
 ospf router-id {{ ipv4_loopback }}
{% set hello_interval = 1 %}
{% set dead_interval = 3 %}
 timers throttle spf 50 50 1000
exit

interface lo
 ip ospf area {{ area_id }}
 ip ospf passive
exit

{% for iface_name, info in interface_info.items() %}
interface {{ iface_name }}
{% if info.cross_area %}
 ip ospf area 0.0.0.0
{% else %}
 ip ospf area {{ area_id }}
{% endif %}
 ip ospf network point-to-point
 ip ospf cost {{ (reference_bandwidth / info.bandwidth_mbps) | int }}
 ip ospf hello-interval {{ hello_interval }}
 ip ospf dead-interval {{ dead_interval }}
exit
{% endfor %}

{% for iface in gnd_interfaces %}
interface {{ iface }}
 ip ospf area {{ area_id }}
 ip ospf network point-to-point
 ip ospf cost 10
 ip ospf hello-interval {{ hello_interval }}
 ip ospf dead-interval {{ dead_interval }}
exit
{% endfor %}

{% if node_type == "ground_station" and terrestrial_prefixes is defined %}
interface terr0
 ip ospf area {{ area_id }}
 ip ospf passive
exit
{% endif %}
