ip forwarding
ipv6 forwarding

interface lo
 ip address {{ ipv4_loopback }}/32
{% if ipv6_loopback %}
 ipv6 address {{ ipv6_loopback }}/128
{% endif %}
exit

{% for iface in wan_interfaces %}
interface {{ iface.name }}
 ip address {{ ipv4_loopback }}/32
{% if protocol != "static" %}
 no ipv6 nd suppress-ra
{% endif %}
{% if iface.te %}
 link-params
  enable
  max-bw {{ iface.te.max_bw }}
  max-rsv-bw {{ iface.te.reservable_bw }}
{% for priority in range(8) %}
  unrsv-bw {{ priority }} {{ iface.te.reservable_bw }}
{% endfor %}
 exit-link-params
{% endif %}
exit
{% endfor %}

{% for segment in segment_interfaces %}
interface {{ segment.name }}
{% for tp in segment.addresses %}
{% if ':' in tp.host_address %}
 ipv6 address {{ tp.host_address }}
{% else %}
 ip address {{ tp.host_address }}
{% endif %}
{% endfor %}
exit
{% endfor %}
